.Start {
    height: 1920px;
    width: 1080px;
    position: relative;
    overflow: hidden;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    height: 750px;
    width: 1080px;
}

.playerWrap {
    position: absolute;
    bottom: 0;
    height: 750px;
    width: 1080px;
}

.ButtonWrap {
    position: absolute;
    top: 1070px;
    left: 380px;
    z-index: 100;
}

.BottomButtonNavWrap {
    position: absolute;
    object-fit: contain;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: 100;
}
