.Maintenance {
    height: 1920px;
    width: 1080px;
    position: relative;
    overflow: hidden;
}

.LogoHeader {
  position: absolute;
  top: 0;
  left: 0;
}

.mainPage {
    position: absolute;
    top: 170px;
    left: 0;
    width: 1080px;
    height: 1750px;
}

.container {
    width: 90%;
    height: 1750px;
    margin: auto;
}
