.PaymentProcessingModal {
    position: absolute;
    top: 600px;
    left: 150px;
}

.wrap {
    left: 50px;
    height: 970px;
    width: 873px;
    background-color: white;
    border-radius: 28px;
}

.modalTitle{
    position: absolute;
    top: 800px;
    left: 280px;
    height: 48px;
    flex-grow: 1;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
}

.modalCopy{
    position: absolute;
    top: 870px;
    left: 320px;
    height: 36px;
    flex-grow: 1;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
}