.QuitModalContinueOrderBtn {
    position: absolute;
    bottom: 0;
    left: 460px;
    height: 168px;
    width: 460px;
    border-bottom-right-radius: 48px;
}

.noPress {
    box-shadow: none;
}

.press {
    background-color: rgba(0, 0, 0, 0.08);
}

.buttonLabel {
    line-height: 168px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-grey-40);
  }
