.WaterTempSelect {
  position: relative;
  height: 160px;
  width: 320px;
}

.pill {
  position: absolute;
  left: 10px;
  width: 300px;
  height: 144px;
  border-radius: 144px;
  border-width: 1px;
  border-style: solid;
  border-color: #c7cfe1;
  background-color: white;
  box-shadow: inset 0 0 20px 4px rgba(154, 162, 184, 0.2);
}

.focus {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 160px;
  background-color: white;
}

.iceCold {
  position: absolute;
  height: 112px;
  width: 112px;
  top: 10px;
  left: 18px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 112px 112px;
}

.roomTemp {
  position: absolute;
  height: 112px;
  width: 112px;
  top: 10px;
  left: 164px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 112px 112px;
}

.focusIceColdIcnWrap {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 20px;
  left: 22px;
  background-size: 112px 112px;
  background-repeat: no-repeat;
  object-fit: contain;
}

.focusIceCold {
  position: absolute;
  height: 160px;
  width: 160px;
  top: -20px;
  left: -22px;
  background-color: white;
  border-radius: 160px;
  box-shadow: 0 0 50px 20px rgba(54, 56, 68, 0.1);
}

.focusRoomIcnWrap {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 20px;
  left: 20px;
  background-size: 112px 112px;
  background-repeat: no-repeat;
  object-fit: contain;
}

.focusRoom {
  position: absolute;
  height: 160px;
  width: 160px;
  top: -20px;
  left: -20px;
  background-color: white;
  border-radius: 160px;
  box-shadow: 0 0 50px 20px rgba(54, 56, 68, 0.1);
}

.iceColdText {
  height: 24px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  top: 160px;
  left: 50px;
  z-index: 100;
}

.roomTempText {
  height: 24px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  top: 160px;
  left: 185px;
  z-index: 100;
}
