.DrinkBuilder {
  position: relative;
}

.LogoHeader {
  position: absolute;
  top: 0;
  left: 0;
}

.focusRoomIcnWrap {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 15px;
  left: 20px;
  background-size: 112px 112px;
  background-repeat: no-repeat;
  object-fit: contain;
}

.focusRoomHandleIcnWrap {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 24px;
  left: 24px;
  background-size: 112px 112px;
  background-repeat: no-repeat;
  object-fit: contain;
}

.focusIceColdIcnWrap {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 14px;
  left: 17px;
  background-size: 112px 112px;
  background-repeat: no-repeat;
  object-fit: contain;
}

.focusIceColdHandleIcnWrap {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 24px;
  left: 24px;
  background-size: 112px 112px;
  background-repeat: no-repeat;
  object-fit: contain;
}

.focusIceCold {
  position: absolute;
  height: 160px;
  width: 160px;
  top: -20px;
  left: -22px;
  background-color: white;
  border-radius: 160px;
  box-shadow: 0 0 50px 20px rgba(54, 56, 68, 0.1);
}

.Title {
  position: absolute;
  top: 264px;
  left: 408px;
  width: 264px;
  height: 48px;
  flex-grow: 0;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.Copy {
  position: absolute;
  top: 321px;
  left: 370px;
  width: 340px;
  height: 72px;
  flex-grow: 0;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #636876;
}

.CenterContainer {
  position: absolute;
  top: 420px;
  left: 149px;
  width: 728px;
  height: 728px;
  margin: 59px 190px 65px 32px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 728px 728px;
}

.CenterContainerLabel {
  position: absolute;
  top: 256px;
  left: 237px;
  width: 256px;
  height: 256px;
  background-size: 100%;
  object-fit: cover;
}

.FooterWrap {
  position: absolute;
  bottom: 0;
  left: 0;
}

.confirmButtonWrap {
  position: absolute;
  bottom: 140px;
}

.cancelButtonWrap {
  position: absolute;
  bottom: 0;
  left: 1000px;
}

.flavorsWrap {
  position: absolute;
  top: 445px;
  left: 20px;
}

.caffeineWrap {
  position: absolute;
  top: 445px;
  left: 750px;
}

.waterTempWrap {
  position: absolute;
  top: 1350px;
  left: 383px;
}

.addFlavorTextWrap {
  position: absolute;
  top: 485px;
  left: 32px;
  width: 188px;
  height: 36px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2e2e35;
}

.addCaffeineTextWrap {
  position: absolute;
  top: 485px;
  right: 36px;
  height: 36px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: right;
  color: #2e2e35;
}

.iceColdText {
  height: 24px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  top: 163px;
  left: 50px;
  z-index: 1000;
}

.roomTempText {
  height: 24px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  top: 163px;
  left: 185px;
  z-index: 1000;
}

.pill {
  position: absolute;
  top: 1353px;
  left: 383px;
  border-radius: 114px;
  width: 315px;
  height: 154px;
  border-style: solid;
  border-color: #c7cfe1;
  background-color: white;
}