<!-- kiosk/templates/kiosk/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="kiosk-log" cols="100" rows="20"></textarea><br>
    <input id="kiosk-message-input" type="text" size="100"><br>
    <input id="kiosk-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const kioskSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/kiosk_client/'
        );

        kioskSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log('Room msg');
            document.querySelector('#kiosk-log').value += (JSON.parse(e.data).message + '\n');
        };

        kioskSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#kiosk-message-input').focus();
        document.querySelector('#kiosk-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#kiosk-message-submit').click();
            }
        };

        document.querySelector('#kiosk-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#kiosk-message-input');
            const message = messageInputDom.value;
            kioskSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>