.CartSum{
    position: relative;
    height: 140px;
    width: 648px;
    object-fit: contain;
    background-repeat: no-repeat;
    border-left: 1px ;
    border-right: 1px ;
    border-top: 0px ;
    border-bottom: 0px ;
    border-style: solid;
    border-color: #e6ebf5 ;
}

.CartSumText {
    position: absolute;
    top: 34px;
    left: 198px;
    width: 197px;
    height: 24px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e35;
}

.amount {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 342px;
    height: 48px;
    margin: 60px 241px 32px 64px;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-grey-50);
}