.DropPrepare {
    position: relative;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

.LogoHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cartDisplayWrap {
    position: absolute;
    top: 360px;
    left: 950px;
    height: 580px;
    width: auto;
    padding-top: 20px;
    border-radius: 23px;;
    background-color: white;
    box-shadow: 0 8px 24px 0 rgba(54, 56, 68, 0.1);
}

.pourVideoWrap {
    position: absolute;
    left: 476px;
    top: 168px;
    background-size: 130px 1920px;
}

.blobVideoWrap {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.waveRippleVideoWrap {
    position: absolute;
    bottom: -9px;
}

.lineOne {
    position:absolute;
    bottom: 312px;
    left: 332px;
    z-index: 100;
    height: 48px;
    flex-grow: 1;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2e2e35;
  }

  .lineTwo {
    position:absolute;
    bottom: 251px;
    left: 477px;
    width: 145px;
    height: 36px;
    flex-grow: 0;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e35;
  }
