.Payment {
    position: relative;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

.LogoHeader {
    position: absolute;
    top: 0;
    left: 0;
}

.FooterWrap {
    position: absolute;
    bottom: 0;
    left: 0px;
}

.playerWrap {
    position: absolute;
    top: 532px;
    left: 76px; 
    width: 936px;
    height: 936px;
}

.titleText {
    position: absolute;
    top: 264px;
    left: 322px;
    width: 436px;
    height: 48px;
    flex-grow: 1;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
}

.copyText {
    position: absolute;
    top: 321px;
    left: 322px;
    width: 436px;
    height: 72px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
}

.paymentSummaryWrap {
    position: absolute;
    bottom: 140px;
    left: 0;
}

.footerLine {
    position: absolute;
    bottom: 140px;
    width: 1080px;
    height: 1px;
    margin: 39px 0 0;
    background-color: #e6ebf5;
    z-index: 1005;
}
