.Footer {
    position:relative;
    width: 1080px;
    height: 140px;
    background-color: var(--pure-white);
}

.CancelButtonWrap {
    position:absolute;
    bottom: 0;
    left: 936px;
}

.cancelButtonPressed {
    position:absolute;
    bottom: 0;
    left: 936px;
    background: #e6ebf5;
}

.BackButtonWrap {
    position:absolute;
    bottom: 0;
    left: 0px;
}

.backButtonPressed {
    position:absolute;
    bottom: 0;
    left: 0px;
    background: #e6ebf5;
}

.InformationButtonWrap {
    position:absolute;
    bottom: 0;
    left: 144px;
}

.showInfoPressed {
    position:absolute;
    bottom: 0;
    left: 144px;
    background: #e6ebf5;
}

.CartSumWrap {
    position:absolute;
    bottom: 0;
    left: 288px;
}