.CartDisplayItem {
    position: relative;
    height: 145px;
    width: 112px;
    margin-left: 10px;
    margin-right: 10px;
}

.flexWrap {
    display: flex;
    flex-direction: column;
}

.iconContainer {
    width: 112px;
    height: 112px;
    background-size: 112px 112px;
}

.description {
    width: 112px;
    height: 10px;
    height: 24px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
}

.cost {
    width: 112px;
    height: 10px;
    height: 24px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #363844;
}
