.ConfirmButton {
  background-color: #6ce3ff;
  width: 1080px;
  height: 144px;
  box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
  border-top-left-radius: 44px;;
  border-top-right-radius: 44px;;
}

.confirmButtonPressed {
  background-color:  #5fd4e0;
  width: 1080px;
  height: 144px;
  box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
  border-top-left-radius: 44px;;
  border-top-right-radius: 44px;;
}

.confirm {
  position: absolute;
  top: 48px;
  left: 410px;
  width: 279px;
  height: 48px;
  flex-grow: 0;
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2e2e35;
}
