.InformationContent {}

.modalWrap {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: white;
    width: 1080px;
    height: 1254px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}

.content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: white;
    width: 1080px;
    height: 1254px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}

.CenterContainer {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 544px;
    height: 544px;
    object-fit: contain;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: 544px 544px;
}

.CenterContainerLabel {
  position: absolute;
  top: 205px;
  left: 184px;
  width: 176px;
  height: 176px;
  background-size: 100%;
  object-fit: cover;
}

.Line {
    position: absolute;
    top: 550px;
    left: 40px;
    width: 800px;
    height: 1px;
    margin: 63px 0 79px 56px;
    border: solid 1px #e7e7e7;
}
  
.Nutrition {
    position: absolute;
    bottom: 184px;
    left: 120px;
    width: 800px;
    height: 296px;
    z-index: 100;
}

.TextLabel {
    position:absolute;
    top: 290px;
    left: 624px;
    width: 368px;
    height: 53px;
    height: 48px;
    flex-grow: 1;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e35;
    text-transform: capitalize;
  }

  .TextCalories {
    top: 350px;
    left: 624px;
  }

  .TextSugar {
    top: 390px;
    left: 624px;
  }

  .TextSugar, .TextCalories {
    position:absolute;
    width: 363px;
    height: 76px;
    margin: 8px 7px 24px 0;
    height: 72px;
    flex-grow: 1;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #636876;
  }

  .TextIngredients {
    position:absolute;
    top: 490px;
    left: 624px;
    width: 326px;
    height: 72px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e35;
  }

  .Exit {
    position: absolute;
    top: -80px;
    left: 440px;
    height: 170px;
    width: 170px;
    border-radius: 170px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
  }

.exitPressed {
    position: absolute;
    top: -80px;
    left: 440px;
    height: 170px;
    width: 170px;
    border-radius: 170px;
    background-color:#e6ebf5;
    z-index: 100;
    box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
}

.ExitIcn {
  position: absolute;
  top: 44px;
  left: 44px;
  height: 80px;
  width: 80px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
