.Reset {
    width: 600px;
    height: auto;
}

.container {
    display: flexbox;
    flex-direction: column;
}
.upperText {
    margin-top: 50px;
    width: 600px;
}

.lowerButtons {
    margin-top: 50px;
    width: 600px;
}

.lowerButtons button{
    margin: 10px;
}