.CancelButton {
    position: relative;
    height: 140px;
    width: 144px;
    object-fit: contain;
    background-repeat: no-repeat;
}

.CancelButtonIcn {
    position: absolute;
    top: 24px;
    left: 44px;
    height: 56px;
    width: 56px;
    object-fit: contain;
    background-repeat: no-repeat;
}

.CancelBtnText {
    position: absolute;
    top: 90px;
    left: 46px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #636876;
}
