.CancelOrderModal {}

.modalWrap {
  height: 1040px;
  width: 920px;
  border-radius: 48px;
  background-color: white;
}

.errorBadgeWrap {
  position: absolute;
  top: 168px;
  left: 282px;
  height: 358px;
  width: 358px;
  border-radius: 50%;
  background-size: 358px 358px;
}

.line {
    position: absolute;
    left: 460px;
    width: 1px;
    height: 168px;
    flex-grow: 0;
    margin: 0 11px 0 0;
    background-color: #9aa2b8;
  }

.content {
  position: absolute;
  top: 440px;
  left: 80px;
  height: 1040px;
  width: 920px;
  border-radius: 48px;
  background-color: white;
}

.title {
  position: absolute;
  top: 638px;
  left: 242px;
  width: 436px;
  height: 48px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--grey-grey-60);
}

.copy {
  position: absolute;
  top: 695px;
  left: 242px;
  height: 72px;
  width: 436px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--grey-grey-40);
}

.dialogTopBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 921px;
  height: 371px;
  box-shadow: inset 0 0 120px 0 rgba(154, 162, 184, 0.24);
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}

.buttonWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 168px;
  width: 920px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  box-shadow: 0 -8px 40px 0 rgba(0, 0, 0, 0.08);
}
