.Pricing {
    width: auto;
    height: 100%;
    display: flexbox;
    flex-direction: row;
    align-items: center;
}

.tableWrap {
    padding-top: 40px;
    width: auto;
    height: auto;
    margin: auto;
}

table, th, td, tr {
    text-align: left;
}

.submitBtn {
    padding-top: 100px;
}
