.DropPrepareStatus {
    position: relative;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

.LogoHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.circleBackground {
    position: absolute;
    top: 312px;
    left: 126px;
    height: 828px;
    width: 828px;
    border-radius: 828px;
    box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
    animation: circle-appear .5s linear;
    animation-timing-function: ease-in-out;
}

.waterCircleBackground {
    position: absolute;
    top: 312px;
    left: 126px;
    height: 828px;
    width: 828px;
    border-radius: 828px;
    border-radius: 50%;
    box-shadow:
      0 0 60px 30px #fff,
      0 0 40px 40px rgb(69, 222, 254);
    animation: circle-appear 3s linear;

}

.cucumberCircleBackground {
    position: absolute;
    top: 312px;
    left: 126px;
    height: 828px;
    width: 828px;
    border-radius: 828px;
    border-radius: 50%;
    box-shadow:
      0 0 60px 30px #fff,
      0 0 40px 40px rgb(186, 227, 128);
    animation: circle-appear 3s linear;

}

.lemonCircleBackground {
    position: absolute;
    top: 312px;
    left: 126px;
    height: 828px;
    width: 828px;
    border-radius: 828px;
    border-radius: 50%;
    box-shadow:
      0 0 60px 30px #fff,
      0 0 40px 40px rgb(250, 252, 115);
    animation: circle-appear 3s linear;

}

.guavaCircleBackground {
    position: absolute;
    top: 312px;
    left: 126px;
    height: 828px;
    width: 828px;
    border-radius: 828px;
    border-radius: 50%;
    box-shadow:
      0 0 60px 30px #fff,
      0 0 40px 40px rgb(255, 142, 123);
    animation: circle-appear 3s linear;
}

@keyframes circle-appear {
    0%{
        transform: scale(0)
    }
    85%{
        transform: scale(1.1)
    }
    100%{
        transofrm: scale(1.0)
    }
}

.icon {
    position: absolute;
    top: 110px;
    left: 110px;
    height: 608px;
    width: 608px;
    background-size: 608px 608px;
    transform-origin: center;
    transform-box: fill-box;
    /*animation-delay: 2s;*/
    animation: this-animation;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transition: all 0.35s linear;
}

@keyframes this-animation {
    0% {
      transform: scale(0)
    }
    12.5% {
      transform: scale(1.2)
    }
    25% {
      transform: scale(1.0)
    }
    37.5% {
      transform: rotate(0deg);
    }
    50% {
    }
    62.5% {
       
    }
    75% {
      transform: rotate(1080deg) scale(1.2);
    }
    87.5% {
      transform: scale(1.0)
    }
    100% {
      transform: rotate(1080deg) scale(1.2);
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    50%{
      opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

@keyframes motion {
    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}



.upperLabel {
    position: absolute;
    left: 216px;
    top: 125px;
    height: 176px;
    width: 176px;
    background-size: 176px 176px;
    animation: appear 2s linear;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    75%{
      opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.lowerLabel {
    position: absolute;
    left: 216px;
    top: 325px;
    height: 176px;
    width: 176px;
    background-size: 176px 176px;
    animation: appear 2s linear;
}

.centerLabel {
    position: absolute;
    left: 205px;
    top: 222px;
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    animation: appear 2s linear;
}

.title {
    position: absolute;
    bottom: 592px; 
    left: 322px;
    height: 96px;
    width: 436px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
  }

.copy {
    position: absolute;
    bottom: 547px; 
    left: 322px;
    height: 96px;
    width: 436px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
  }