.BottleCount {
    width: auto;
    height: 100%;
    display: flexbox;
    flex-direction: row;
    align-items: center;
}

.tableWrap {
    width: auto;
    height: auto;
    margin: auto;
}

.table, .th, .td, .tr {
    border: 1px solid black;
}

td {
    text-align: center;
}

.submitBtn {
    padding-top: 100px;
}
