.ErrorModal {
    position: absolute;
    bottom: 440px;
    left: 80px;
    height: 1040px;
    width: 920px;
    background-color: white;
    border-radius: 48px;
}

.subtitle {
    position: absolute;
    top: 704px;
    left: 242px;
    height: 96px;
    width: 436px;
    flex-grow: 1;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;

  }

  .errorMessageText {
    position: absolute;
    top: 809px;
    left: 242px;
    height: 36px;
    width: 436px;
    flex-grow: 1;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
  }

.topBackground {
    width: 921px;
    height: 420px;
    box-shadow: inset 0 0 120px 0 rgba(154, 162, 184, 0.24);
    background-color: var(--pure-white);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;

  }