.InformationButton {
    position: relative;
    height: 140px;
    width: 144px;
    object-fit: contain;
    background-repeat: no-repeat;
    border-left: 1px ;
    border-right: 0px ;
    border-top: 0px ;
    border-bottom: 0px ;
    border-style: solid;
    border-color: #e6ebf5 ;
}

.InformationButtonPress {
    position: relative;
    height: 140px;
    width: 144px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: #e6ebf5;
}

.InformationButtonIcn {
    position: absolute;
    top: 24px;
    left: 44px;
    height: 56px;
    width: 56px;
    object-fit: contain;
    background-repeat: no-repeat;
}

.InformationBtnText {
    position: absolute;
    top: 90px;
    width: 100%;
    left: 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
}
