.RefillPour {
    position: relative;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

.LogoHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cartDisplayWrap {
    position: absolute;
    top: 360px;
    left: 950px;
    height: 580px;
    width: auto;
    padding-top: 20px;
    border-radius: 23px;;
    background-color: white;
    box-shadow: 0 8px 24px 0 rgba(54, 56, 68, 0.1);
}

.Blob {
    position: absolute;
    height: 1666px;
    width: 1080px;
    bottom: 0px;
    z-index: 0;
}

.pourWaterLower {
    position: absolute;
    height: 716px;
    width: 1080px;
    bottom: 0px;

}

.pourVideoWrap {
    position: absolute;
    left: 476px;
    top: 168px;
    background-size: 130px 1920px;
}

.hidePourVideoWrap {
    visibility: hidden;
}

.showPourVideoWrap {
    visibility: visible;
}

.blobVideoWrap {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.waveRippleVideoWrap {
    position: absolute;
    bottom: -9px;
}

.hideWaveVideoWrap {
    visibility: hidden;
}

.showWaveVideoWrap {
    visibility: visible;
}

.hideRippleVideoWrap {
    visibility: hidden;
}

.showRippleVideoWrap {
    visibility: visible;
}


.pressBackgroundBtn {
    background-color: #5fd4e0;
    z-index: 1006;
}

.defaultBackgroundBtn {
    background-color: white;
    z-index: 1006;
}

.pourBtn {
    position: absolute;
    bottom: 88px;
    left: 208px;
    height: 304px;
    width: 304px;
    border-radius: 304px;
    z-index: 100;
}

.pourBtnLineOne {
    position: absolute;
    top: 106px;
    left: 33px;
    text-align: center;
    height: 52px;
    width: 240px;
    flex-grow: 1;
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2e2e35;
}

  .pourBtnLineTwo {
    position: absolute;
    bottom: 107px;
    left: 32px; 
    height: 36px;
    width: 240px;
    flex-grow: 1;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
  }

.doneBtn {
    position: absolute;
    bottom: 132px;
    left: 672px;
    height: 200px;
    width: 200px;
    border-radius: 304px;
    z-index: 100;
}

.doneLineOne {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 1px;
    height: 36px;
    flex-grow: 1;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
  }

.checkIcn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 42px;
    width: 88px;
    height: 88px;
    object-fit: contain;
}

.costContainer {
    position:absolute;
    bottom: 446px;
    height: 96px;
    width: 232px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2e2e35;
  }


.unitCost {
    left: 112px;
}

.pouredAmt {
    left: 424px;
}

.totalAmt {
    left: 736px;
}

.refillInstructionsWrap {
    position: absolute;
    top: 950px;
    left: 0px;
    height: 260px;
    width: 192px;
    width: 192px;
    padding: 16px 8px 44px 16px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
    background-color: white;
}

.refillLeftSlice {
    position: absolute;
    top: 35px;
    height: 124px;
    width: 160px;
    background-size: 160px 124px;
    animation: motion 2s infinite linear;
}

@keyframes motion {
    0% {
        left: -5px;
        transform: rotate(-15deg);
    }

    50% {
        left: 32px;
        transform: rotate(0deg);
    }

    100% {
        left: -5px;
        transform: rotate(-15deg);
    }
}

.refillInstructionsText {
    padding-top: 15px;
    position: absolute;
    left: 24px;
    bottom: 45px;
    width: 149px;
    height: 52px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-grey-60);
  }