.modalWrap {
    height: 1040px;
    width: 920px;
    border-radius: 48px;
    background-color: white;
}


.content {
    position: absolute;
    top: 440px;
    left: 80px;
    height: 1040px;
    width: 920px;
    border-radius: 48px;
    background-color: white;
}

.dialogTopBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 921px;
    height: 371px;
    box-shadow: inset 0 0 120px 0 rgba(154, 162, 184, 0.24);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }

.buttonWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 168px;
    width: 920px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    box-shadow: 0 -8px 40px 0 rgba(0, 0, 0, 0.08);
}

.line {
    position: absolute;
    left: 460px;
    width: 1px;
    height: 168px;
    flex-grow: 0;
    margin: 0 11px 0 0;
    background-color: #9aa2b8;
  }

.lowerButtonRight {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 168px;
    width: 460px;
    border-bottom-right-radius: 48px;
}

.buttonLabel {
    line-height: 168px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-grey-40);
  }

  .dialBackground {
    position: absolute;
    top: 168px;
    left: 281px;
    width: 358px;
    height: 358px;
    border-radius: 50%;
    box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
    background-color: white;
  }

.dialCount {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 250px;
    height: 76px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 56px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--grey-grey-60);
  }

  .centerText span {
      text-align: center;
  }

  .dialUnits {
    position: absolute;
    top: 147px;
    left: 0;
    height: 36px;
    width: 250px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--grey-grey-60);
  }

  .titleText {
    position: absolute;
    top: 638px;
    left: 242px;
    width: 436px;
    height: 48px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
  }


.copyText1 {
    position: absolute;
    top: 704px;
    left: 242px;
    height: 72px;
    width: 436px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-grey-40);
  }

.spinner {
      transform: rotate(-90deg);
      width: 60px;
      height: 60px;
}
    
.circle {
        stroke-linecap: round;
        stroke-dasharray: 360;
        stroke-width: 6;
        stroke: blue;
        fill: transparent;
        animation: spin 1s ease-in-out .5s normal infinite;
      }
    
@keyframes spin {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 40;
  }
}

.progress {
  position: absolute;
  width: 358px;
  height: 358px;
  color: #6ce3ff !important;
}