.Additives {
    display: flexbox;
    flex-direction: column;
}

.pumpFormContainer {
    display:flexbox;
    flex-direction: column;
}

.pumpSettingsContainer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pumpNumber {
    height: 200px;
    width: 10%;
}

.quatity {
    height: 200px;
    width: 30%;
}

.flavorSelect {
    height: 200px;
    width: 60%;
}

.submitBtn {
    padding-top: 100px;
}

.icon {
  width: 138px;
  height: 138px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 138px 138px;
}
