.OutOfOrder {
    position: relative;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

.outOfOrderImg {
  position: absolute;
  left: 172px;
  top: 532px;
  width: 737px;
  height: 579px;
}

.titleText {
  position: absolute;
  left: 314px;
  bottom: 672px;
  width: 436px;
  height: 48px;
  color:  #2e2e35;
  font-size: 32px;
  font-weight: bold;
  font: OpenSans;
  text-align: center;
  line-height: 48px;
}

.copyText {
  position: absolute;
  left: 314px;
  bottom: 627px;
  height: 36px;
  color:  #2e2e35;
  font-size: 24px;
  font: OpenSans;
  text-align: center;
}