.RowBtnSelSmall {
    width: 200px;
    height: 900px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.RowBtnSelColumn {
    width: 200px;
    height: 900px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RowBtnSelRow {
    width: 200px;
    height: 900px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
