.Header {
    position: absolute;
    top: 0;
    left: 0;
    height: 168px;
    width: 1080px;
}

.HeaderLogo {
    position: absolute;
    left: 362px;
    top: 48px;
    height: 168px;
    width: 1080px;
}

.headerLine {
    position: absolute;
    top: 168px;
    left: 0px;
    width: 1080px;
    height: 1px;
    background-color: #e6ebf5;
  }