.bottlesSavedCard {
  position: absolute;
  top: 0px;
  left: 285px;
  width: 511px;
  height: 144px;
  font: inherit;
  background-color: #ffffff;
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 44px;
  box-shadow: 0 8px 72px 0 rgba(54, 56, 68, 0.16);
  z-index: 1001;
}

.bottleIcon {
  position: absolute;
  height: 96px;
  width: 96px;
  top: 24px;
  left: 24px;
}

.numBottles {
  position: absolute;
  height: 36px;
  width: 62px;
  top: 53px;
  left: 134px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e35;
}

.bottlesSavedText {
  position: absolute;
  height: 36px;
  width: 277px;
  top: 53px;
  left: 210px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

