.footer {
  width: 1080px;
  height: 220px;
  background-color: #4f8df0;
  position: fixed;
  bottom: 0px;
  z-index: 0;
  text-align: center;
}

.text {
  position: absolute;
  left: 384px;
  bottom: 58px;
  width: 312px;
  height: 104px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}