
.scanCard {
  position: absolute;
  bottom: 0px;
  right: 32px;
  width: 216px;
  height: 322px;
  font: inherit;
  background-color: #ffffff;
  flex-grow: 0;
  border-radius: 24px 24px 0px 0px;
  border: solid 8px #e6ebf5;
  border-bottom: none;
  text-align: center;
  z-index: 1001;
}

.cameraIcn {
  position: absolute;
  right: 100px;
  bottom: 276px;
  width: 80px;
  height: 80px;
  z-index: 1002;
}

.qrCode {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 80px;
  bottom: 144px;
  z-index: 1002;
}


.qrCodeLineTwo {
  position: absolute;
  bottom: 42px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e35;
  z-index: 1005;
}

.qrCodeLineThree {
  position: absolute;
  bottom: 15px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e35;
  z-index: 1005;
}

.qrCodeLineOne {
    position: absolute;
    bottom: 99px;
    right: 56px;
    width: 156px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
    z-index: 1001;

}

.qrCodeLineTwo {
    position: absolute;
    bottom: 63px;
    right: 56px;
    width: 156px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
    z-index: 1002;
}

.qrCodeLineThree {
    position: absolute;
    bottom: 27px;
    right: 56px;
    width: 156px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
    z-index: 1002;
}