.CancelOrderBtn {}

.Pill {
    width: 349px;
    height: 134px;
    bottom: 0;
    left: 0;
    background-size: 349px 134px;
}

.CancelOrderText {
    position: absolute;
    top: 54px;
    left: 90px;;
    width: 167px;
    height: 24px;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #e9846c;
  }
