.ButtonSelectSmall { }

.selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 112px;
  height: 112px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 112px 112px;
  z-index: 100;
}

.iconNormal {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border-style: solid;
  border-width: 8px;;
  border-color: white;
  box-shadow: 5px 4px 18px 5px rgba(54, 56, 68, 0.08);
}

.pressContainerOff {
  width: 0px;
  height: 0px;
  background-color: transparent;
}
.pressContainerPress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  border-radius: 50%;
  margin: auto;
}

.pressState {
  animation-duration: .5s;
  animation-name: blowup;
  animation-fill-mode: forwards;
}
@keyframes blowup {
  0% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 160px;
    height: 160px;
  }
}

.iconHighlight {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.titleRight {
  position: absolute;
  top: 55px;
  left: 180px;
  height: 24px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #363844;
}

.costRight {
  position: absolute;
  left: 180px;
  top: 85px;
  height: 24px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #636876;
}

.textWrapLeft {
  position: relative;
  height: 140px;
  width: 150px;
}

.titleLeft {
  position: absolute;
  width: 120px;
  top: 55px;
  left: 0px;
  height: 24px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #363844;
}

.costLeft {
  position: absolute;
  width: 120px;
  left: 0px;
  top: 85px;
  height: 24px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #636876;
}

.containerTextLeft {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 330px;
}

.containerTextRight {
  position: relative;
  margin-top: 20px;
  width: 350px;
}

.textRight {
  position: absolute;
  top: 20px;
  left: 160px;
  width: 150px;
  height: 140px;
  margin-top: 30px;
  margin-left: 10px;
  height: 24px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #363744;
}

.flavorCaffeineNoneBorder {
    border: 8px solid #6ce3ff;
}

.caffeineSomeBorder {
    border: 8px solid #98eec0;
}

.caffeineMoreBorder {
    border: 8px solid #fed357;
}

.caffeineExtraBorder {
    border: 8px solid #ff6e65;
}

.flavorCucumberBorder {
    border: 8px solid #c5f06e;
}

.flavorGuavaBorder {
    border: 8px solid #ff7e65;
}

.flavorLemonBorder {
    border: 8px solid #dbf928;
}
