.NutritionLabel {
  width: 800px;
  height: 296px;
  overflow: hidden;
}

/* general settings */
.base {
  position: absolute;
}

.colOneX {
  left: 0;
}

.colTwoX {
  left: 256px;
}

.colThreeX {
  left: 544px;
}

.nutritionFacts {
  top: 0;
}

.topLineY {
  top: 112px;
}

.lowerLineY {
    top: 256px;
}

.textLineOneY {
  top: 130px;
}

.lineTwoY {
  top: 162px;
}

.lineWideHeavy {
  width: 256px;
  height: 4px;
  background-color: #c7cfe1;
}

.lineWide {
    width: 256px;
    height: 1px;
    background-color: #c7cfe1;
  }

.ingredientsText {
  width: 100px;
  height: 16px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.ingredientsTextBold {
  width: 125px;
  height: 16px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.ingredientsTextBoldLg {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

/* column one */

.lineHeavyColOne {
  width: 224px;
  height: 4px;
  background-color: #c7cfe1;
}

.nutritionFacts {
  width: 224px;
  height: 92px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2e2e35;
}

.servingsPerContainer {
    width: 172px;
    height: 24px;
    flex-grow: 0;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--grey-grey-60);
}

.servingsPerContainerOLD {
  width: 172px;
  height: 24px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--grey-grey-60);
}

.servingSizeText {
  width: 95px;
  height: 24px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.servingSizeAmtX {
  left: 167px;
}

.servingSizeAmt {
  width: 53px;
  height: 24px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.colOneLineLightY {
  top: 211px;
}

.colOneLineLight {
  width: 224px;
  height: 1px;
  background-color: #c7cfe1;
}

.caloriesPerServingY {
  top: 226px;
}
.caloriesPerServingText {
  width: 90px;
  height: 48px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.caloriesPerServingAmtX {
  left: 196px;
}

.caloriesPerServingAmt {
  width: 24px;
  height: 52px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2e2e35;
}

/* column two */

.colTwoPctX {
  left: 487px;
}

.dailyValueY {
  top: 15px;
}

.dailyValue {
  height: 32px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.colTwoHeaderY {
  top: 79px;
}

.colTwoHeader {
  width: 109px;
  height: 16px;
  flex-grow: 0;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #2e2e35;
}

.colTwoHeaderValueX {
  left: 421px;
}

.totalFatY {
  bottom: 149px;
}

.totalFatPctY {
  bottom: 146px;
}


.totalFatWtX {
  left: 319px;
}

.colTwoLineLightOneY {
    top: 163px;
}

.cholesterolY {
    bottom: 101px;
}

.cholesterolPctY {
    bottom: 98px;
}

.cholesterolWtX {
    left: 336px;
}

.cholesterolPctX {
    left: 487px;
}

.colTwoLineLightTwoY {
    top: 256px;
}

.sodiumY {
    bottom: 53px;
}

.sodiumPctY {
    bottom: 50px;
}

.sodiumWtX {
    left: 311px;
}

.sodiumPctX {
    left: 487px;
}

.vitaminsY {
    top: 275px;
}



/* column three */

.colThreePctX {
    left: 775px;
}

.colThreeHeaderValueX {
    left: 709px;
}

.totalCarbWtX {
    left: 673px;
}

.sugarsTextX {
    left: 576px;
}

.proteinWtX {
    left: 598px;
}