.Login {
    height: 1920px;
    width: 1080px;
    position: relative;
    overflow: hidden;
}

.loginFormContainer {
    position: absolute;
    top: 300px;
    left: 290px;
    padding: 200px;
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 33px;
}

.loginForm {
    position: absolute;
    left: 100px;
    display: flexbox;
    flex-direction: column;
}

.loginFormElt {
    width: 300px;;
    height: auto;
}

.buttonWrap {
    width: 300px;
}
.buttonWrap button {
    margin: 10px;
}

.loginError {
    color: red;
}
