.PaymentSummary {
    position: relative;
    width: 1080px;
    height: 260px;
    background-color: #fafafa ;
}

.amount {
    position: absolute;
    top: 80px;
    left: 72px;
    height: 52px;
    flex-grow: 1;
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2e2e35;
}

.copy {
    position: absolute;
    top: 141px;
    left: 72px;
    height: 36px;
    flex-grow: 1;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e35;
}

.minOrderText {
    position: absolute;
    top: 141px;
    left: 72px;
    height: 36px;
    flex-grow: 1;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e35;
}

.cartDisplayWrap {
    position: absolute;
    top: 50px;
    left: 544px;
}

.vertBar {
    position: absolute;
    left: 450px;
    top: 40px;
    width: 1px;
    height: 120px;
    margin: 30px 47px 69px 48px;
    background-color: #9aa2b8;
}