.Home {
    height: 1920px;
    width: 1080px;
    position: relative;
    overflow: hidden;
}
.player {
    position: absolute;
    top: 0;
    left: 0;
    height: 1920px;
    width: 1080px;
}

.playerWrap {
    position: absolute;
    top: 0;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}


.tester {
    position: absolute;
    z-index: 100000;
    font-size: 105px;
    top: 100px;
    left: 100px;

}
.loginPad {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.secretPad {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    z-index: 100;
}

.refillBtn {
    border-radius: 24px;
    width: 216px;
    height: 296px;
    position: absolute;
    bottom: 24px;
    left: 32px;
    z-index: 1000;
    font: inherit;
    background-color: #ffffff;
    width: 216px;
    height: 296px;
    flex-grow: 0;
    
}

.refillBtnPressed {
    border-radius: 24px;
    width: 216px;
    height: 296px;
    position: absolute;
    bottom: 24px;
    left: 32px;
    z-index: 1000;
    font: inherit;
    background-color: #ffffff;
    width: 216px;
    height: 296px;
    flex-grow: 0;
    border-radius: 24px;
    border: solid 8px #6ce3ff;
}

.refillBtnLineOne {
    position: absolute;
    bottom: 80px;
    left: 67px;
    height: 36px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2e2e35;
    z-index: 1001;

}

.refillBtnLineTwo {
    position: absolute;
    bottom: 42px;
    left: 110px;
    height: 36px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #636876;
    z-index: 1002;
}

.waterRefillIcn {
    position: absolute;
    bottom: 105px;
    left: 30px;
    z-index: 1000;
    width: 216px;
    height: 216px;
    flex-grow: 0;
    object-fit: contain;
}
