.PageFrameStatic {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.PageFrameLowerSwoosh {
    position: absolute;
    object-fit: contain;
    bottom: 0;
    background-repeat: no-repeat;
    height: 777px;
    width: 1080px
}

.BottomButtonNavWrap {
    position: absolute;
    object-fit: contain;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: 100;
}

.ButtonWrap {
    position: absolute;
    top: 980px;
    left: 380px;
    z-index: 100;
}