.ButtonSelectLarge{
    height: 660px;
    width: 1016px;
    border-radius: 73px;
    overflow: hidden;
}

.ButtonSelectLargeShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border {
    position: absolute;
    top:0px;
    left: 0px;
    height: 660px;
    width: 1016px;
    border-radius: 73px;
    overflow: hidden;
}

.borderHighlight {
   border: solid 12px #6ce3ff;
   box-shadow: 0 0 0 12px rgb(108, 277, 255, .4);
}

.highlightLayerOff {
   border: solid 12px transparent;
}

.backgroundImage {
    width: 1016px;
    height: 660px;
    object-fit: contain;
}

.titleLeft {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 280px;
    height: 24px;
    margin: 53px 0 9px;

    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 76px;
    letter-spacing: 0.5px;
    color: #2E2E35;
    text-align: left;
}

.titleRight {
    position: absolute;
    top: 100px;
    left: 550px;
    width: 280px;
    height: 24px;

    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 76px;
    letter-spacing: 0.5px;
    color: #2E2E35;
    text-align: left;
}

.descriptionLeft {
    position: absolute;
    top: 320px;
    left: 150px;
    width: 280px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #636876;
    text-align: left;
}

.descriptionRight {
    position: absolute;
    top: 290px;
    left: 550px;
    width: 390px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #636876;
    text-align: left;

}

.costLeft {
    position: absolute;
    width: 376px;
    height: 48px;
    left: 150px;
    top: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #636876;
}

.costRight {
    position: absolute;
    width: 376px;
    height: 48px;
    left: 550px;
    top: 440px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #636876;
}