.BottleSelectPage {
    position: relative;
}

.LogoHeader {
    position: absolute;
    top: 0;
    left: 0;
}

.DropBottleButton {
    position: absolute;
    top: 244px;
    left: 32px;
}

.RefillButton {
    position: absolute;
    top: 1080px;
    left: 32px;
}

.CancelOrderBtn {
    position: absolute;
    background-color: orange;
    bottom: 0;
    left: 400px;
}

.FooterWrap {
    position: absolute;
    bottom: 0;
    left: 0;
}

.centerText {
    position: absolute;
    top: 968px;
    left: 495px;
    width: 45px;
    height: 48px;
    flex-grow: 0;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #636876;
}

.lineLeft {
    position: absolute;
    top: 971px;
    left: 54px;
    width: 420px;
    height: 1px;
    flex-grow: 0;
    margin: 23px 42px 24px 0;
    background-color: #e6ebf5;
  }

.lineRight {
    position: absolute;
    top: 971px;
    right: 54px;
    width: 420px;
    height: 1px;
    flex-grow: 0;
    margin: 23px 42px 24px 0;
    background-color: #e6ebf5;
  }

.outOfStock {
    position: absolute;
    top: 244px;
    left: 32px;
    font-size: 100px;
    z-index: 100000000;
}

.footerLine {
    position: absolute;
    bottom: 140px;
    width: 1080px;
    height: 1px;
    margin: 39px 0 0;
    background-color: #e6ebf5;
    z-index: 1005;
}